<!-- barra de navigation -->
<!--  <ul class="nav nav-tabs text-center ">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>-->
<!--    </li>-->
<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">See options</a>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a class="dropdown-item" href="{% url 'Categories' %}#">Categories</a></li>-->
<!--        <li><a class="dropdown-item" href="{% url 'Entities' %}">Entities</a></li>-->
<!--        <li><a class="dropdown-item" href="{% url 'Products' %}">Products</a></li>-->
<!--        <li><a class="dropdown-item" href="{% url 'PaymentMethods' %}">Payment methods</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Records</a>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a class="dropdown-item" href="{% url 'MonthlyCheck' %}">list of records</a></li>-->
<!--        <li><a class="dropdown-item" href="{% url 'Create_MonthlyCheck' %}">Create record</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Create</a>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a class="dropdown-item" href="{% url 'Create_product' %}">Create finance product</a></li>-->
<!--        <li><a class="dropdown-item" href="{% url 'Create_categories' %}">Create category</a></li>-->
<!--        <li><a class="dropdown-item" href="{% url 'Create_entity' %}">Create entity</a></li>-->
<!--        <li><a class="dropdown-item" href="{% url 'Create_paymentMethod' %}">Create payment method</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--  </ul>-->

<!-- Barra de navegación oscura con menu -->
  <nav class="navbar navbar-dark bg-info fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'Home' %}">Financial follow up</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'MonthlyCheck' %}">List Records</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              See options
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'Categories' %}#">Categories</a></li>
              <li><a class="dropdown-item" href="{% url 'Entities' %}">Entities</a></li>
              <li><a class="dropdown-item" href="{% url 'Products' %}">Products</a></li>
              <li><a class="dropdown-item" href="{% url 'PaymentMethods' %}">Payment methods</a></li>
              <li><a class="dropdown-item" href="{% url 'fp_list' %}">Financial Products</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Create
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'Create_product' %}">Create Product</a></li>
              <li><a class="dropdown-item" href="{% url 'Create_categories' %}">Create category</a></li>
              <li><a class="dropdown-item" href="{% url 'Create_entity' %}">Create entity</a></li>
              <li><a class="dropdown-item" href="{% url 'Create_paymentMethod' %}">Create payment method</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'Create_MonthlyCheck' %}">Create record</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Transaction control
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'Transaction_control' %}">Transactions</a></li>
              <li><a class="dropdown-item" href="{% url 'Create_transaction' %}">Create transaction</a></li>
              <li><a class="dropdown-item" href="{% url 'Create_financialProduct' %}">Create financial product</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>