{% extends 'base.html' %}
{% load static %}
{% block title %} category list {% endblock %}

{% block content %}

<h2 class="text-center">Category</h2>

<div class="container">
  <div class="d-grid gap-2">
    <a href="{% url 'Create_categories' %}" class="btn btn-outline-success" type="submit">Create Category</a>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Category Name</th>
        </tr>
      </thead>
      <tbody>
      {% for value in category_list %}
      <tr>
        <th>{{ value.id }}</th>
        <td>{{ value.category_name }}</td>
        <td><a href="{% url 'Update_category' value.id %}">Edit</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}