{% extends 'base.html' %}
{% load static %}
{% block title %}List of financial products{% endblock %}

{% block content %}

<h2 class="text-center">List of financial products</h2><br>

<!--<nav class="navbar navbar-info bg-dark">-->
<!--  <a href="{% url 'Create_financialProduct' %}" class="btn btn-outline-success" role="button" aria-pressed="true">+</a>-->
<!--</nav>-->
<div class="container">
  <div class="d-grid gap-2">
    <a href="{% url 'Create_financialProduct' %}" class="btn btn-outline-success" type="submit">Create product</a>
  </div>
</div>
<br>
<form method="post">
  <div class="container">
    <div class="column">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product type</th>
          <th scope="col">Product name</th>
          <th scope="col">Entity</th>
        </tr>
        </thead>
        <tbody>
        {% for val in financialP_list %}
        <tr>
          <th>{{ val.id }}</th>
          <td>{{ val.product_type }}</td>
          <td><a href="{% url 'Transaction_control' %}">{{ val.product_name }}</a></td>
          <td>{{ val.id_entity }}</td>
          <td><a href="{% url 'Update_fp' val.id %}" class="button" aria-pressed="true">Update</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>

{% endblock %}