{% extends 'base.html' %}
{% load static %}
{% block title %} List Monthly Check {% endblock %}

{% block content %}

<h2>Monthly check record</h2>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <h1>${{ TotalEntity|stringformat:".2f" }}</h1><h4>Total Sodexo</h4>
    </div>
    <div class="carousel-item text-center">
      <h1>${{ TotalAmount|stringformat:".2f" }}</h1><h4>Total Amount</h4>
    </div>
    <div class="carousel-item text-center">
      <h1>${{ TotalProduct|stringformat:".2f" }}</h1><h4>Total Credit Card</h4>
    </div>
    <div class="carousel-item text-center">
      <h1>${{ TotalCash|stringformat:".2f" }}</h1><h4>Total Cash</h4>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br>


<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date</th>
          <th scope="col">Payment method</th>
          <th scope="col">Entity</th>
          <th scope="col">Bank product</th>
          <th scope="col">Amount</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        {% for val in monthly_check_list %}
        <tr>
          <th>{{ val.id }}</th>
          <td>{{ val.date }}</td>
          <td>{{ val.id_payment_method }}</td>
          <td>{{ val.id_entity }}</td>
          <td>{{ val.id_bank_product }}</td>
          <td>${{ val.amount }}</td>
          <td>{{ val.description }}</td>
          <td>{{ val.id_category }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}