{% extends 'base.html' %}
{% load static %}
{% block title %}List of financial products{% endblock %}

{% block content %}

<form method="post">
  <div class="container">
    <div class="column">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product type</th>
          <th scope="col">Product name</th>
          <th scope="col">Entity</th>
        </tr>
        </thead>
        <tbody>
        {% for val in financialP_list %}
        <tr>
          <th>{{ val.id }}</th>
          <td>{{ val.product_type }}</td>
          <td>{{ val.product_name }}</td>
          <td>{{ val.id_entity }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>

{% endblock %}