{% extends 'base.html' %}
{% load static %}
{% block title %} List Monthly Check {% endblock %}

{% block content %}

<h2>Monthly check record</h2>

<div class="container text-center">
  <div class="row">
    <table>
      <tr>
        <th>Total Amount</th>
        <th>Total Sodexo</th>
        <th>Total Credit card</th>
        <th>Total Cash </th>
      </tr>
      <tr>
        <td>{{ TotalAmount|stringformat:".2f" }}</td>
        <td>{{ TotalEntity|stringformat:".2f" }}</td>
        <td>{{ TotalProduct|stringformat:".2f" }}</td>
        <td>{{ TotalCash|stringformat:".2f" }}</td>
      </tr>
    </table>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">Payment method</th>
      <th scope="col">Entity</th>
      <th scope="col">Bank product</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>


    </tr>
  </thead>
  <tbody>
    {% for val in monthly_check_list %}
    <tr>
      <th>{{ val.id }}</th>
      <td>{{ val.date }}</td>
      <td>{{ val.id_payment_method }}</td>
      <td>{{ val.id_entity }}</td>
      <th>{{ val.id_bank_product|stringformat:".2f" }}</th>
      <td>{{ val.amount }}</td>
      <td>{{ val.description }}</td>
      <td>{{ val.id_category }}</td>


    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}