{% extends 'base.html' %}
{% load static %}
{% block title %} Bank product list {% endblock %}

{% block content %}

<h2>Bank products</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Id entity</th>
    </tr>
  </thead>
  <tbody>
    {% for val in bank_product_list %}
    <tr>
      <th>{{ val.id }}</th>
      <td>{{ val.product_name }}</td>
      <td>{{ val.id_entity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}