{% load static %}
<!DOCTYPE html>
<html lang="eu">

<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <!-- style -->
  <!-- <link href="{% static 'tracking/css/style.css' %}" rel="stylesheet"> -->

</head>

<body>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1>Financial follow up</h1>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs text-center ">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">See options</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'Categories' %}#">Categories</a></li>
        <li><a class="dropdown-item" href="{% url 'Entities' %}">Entities</a></li>
        <li><a class="dropdown-item" href="{% url 'Bank_Products' %}">Products</a></li>
        <li><a class="dropdown-item" href="{% url 'PaymentMethods' %}">Payment methods</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Records</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'MonthlyCheck' %}">list of records</a></li>
        <li><a class="dropdown-item" href="{% url 'Create_MonthlyCheck' %}">Create record</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Create</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'Create_bankProduct' %}">Create finance product</a></li>
        <li><a class="dropdown-item" href="{% url 'Create_categories' %}">Create category</a></li>
        <li><a class="dropdown-item" href="{% url 'Create_entity' %}">Create entity</a></li>
        <li><a class="dropdown-item" href="{% url 'Create_paymentMethod' %}">Create payment method</a></li>
      </ul>
    </li>
  </ul>

  <!-- Here begins the content that changes -->
  {% block content %}






  {% endblock %}

  <footer>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <p>Version 1.0 - Project Tracking expenses app </p>
        </div>
      </div>
    </div>
  </footer>


</body>
</html>


