<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="eu">

<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
</head>

<body style="background-color:antiquewhite;">
  <h1>Financial follow up</h1>
  <a href="tracking_app/create_bank_product.html">Create finance product</a>
  <a href="tracking_app/create_category.html">Create category</a>
  <a href="tracking_app/create_entities.html">Create entity</a>
  <a href="tracking_app/create_payment_method.html">Create payment method</a>
  <a href="tracking_app/create_record_mc.html">Create record </a>

  <!-- Here begins the content that changes -->
  {% block content %}






  {% endblock %}
</body>

</html>